<?xml version="1.0" encoding="utf-8"?>


<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="236830dc-f19e-492a-afa8-12cf9fee7752"
    Publisher="CN=agust"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="236830dc-f19e-492a-afa8-12cf9fee7752" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ipo2_pokedex</DisplayName>
    <PublisherDisplayName>agust</PublisherDisplayName>
    <Logo>Assets\images\icon\pokeball.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ipo2_pokedex.App">
      <uap:VisualElements
        DisplayName="ipo2_pokedex"
        Square150x150Logo="Assets\images\icon\pokeball.png"
        Square44x44Logo="Assets\images\icon\pokeball.png"
        Description="ipo2_pokedex"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\images\icon\pokeball.png" Square71x71Logo="Assets\images\icon\pokeball.png" Square310x310Logo="Assets\images\icon\pokeball.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\images\icon\portada.jpg" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
	<rescap:Capability Name="broadFileSystemAccess" />
  </Capabilities>
</Package>